.advantages {
    padding: $base*20 0;
    &__title {
        color: $main-color;
    }
    &__wrapper {
        margin-top: $base*11;
        display: grid;
        grid-template-columns: repeat(auto-fit, $base*142);
        justify-content: center;
        grid-template-rows: $base*89;
        grid-auto-rows: $base*89;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
            width: 100%;
            opacity: 0.8;
            img {width: 100%;}
        }
        &-descr {
            padding: $base*10 $base*30 0 $base*30;
            width: 100%;
            height: $base*39;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(#000, 0.43);
            text-align: center;
            font-size: $base*5;
            line-height: $base*6;
            font-weight: $fw-normal;
            color: #ffffff;
        }
    }
}