.main {
	height: $base * 196;
}

.header {
	max-height: $base*212;
	padding: $base*5 0;
	display: flex;
	justify-content: space-between;

	&__item {
		display: flex;
		align-items: flex-start;
		flex-basis: 20%;

		&-flag {
			width: $base*8;
			height: $base*5;
			img {
				width: 100%;
			}
		}

		&-address {
			margin-left: $base*2;
			text-align: left;
			font-size: $base*3;
			font-weight: $fw-light;

			span {
				font-size: $base*3;
				line-height: $base*4;
				font-weight: $fw-bold;
				color: #242424;
			}
		}
	}
}

.main__wrapper {

	&-item {
		&-head {
			padding-top: $base * 10;
			height: $base * 26;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-logo {
				width: $base*35;
				img {
					width: 100%;
				}
			}
			&-nav {
				width: $base * 135;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&-link {
					a {
						font-size: $base*3;
						line-height: $base*6;
						font-weight: $fw-bold;
						text-transform: uppercase;
						color: #ffffff;
						text-decoration: none;
					}
					&_active {
						a {
							font-weight: $fw-bold;
							color: #046278;
						}
					}
				}

			}
		}

		&-body {
			margin-top: $base*7;
			display: flex;

		}

		&-left {
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		&-right {
			flex-basis: 50%;
			text-align: right;
		}

		&-subtitle {
			margin-top: $base*7;
		}

		&-btn {
			margin-top: $base*10;
		}
	}

	.slider {
		display: flex;
		align-items: center;
		height: $base*3;
		position: absolute;
		bottom: $base*17;
		left: 50%;
		transform: translateX(-50%);
		
		&-arrowPrev {
			margin-right: $base*3;
		}

		&-dot {
			width: $base*3;
			height: $base*3;
			border-radius: 100%;
			border: 1px solid #fff;
			&:not(:first-child) {
				margin-left: $base;
			}
			&_active {
				background-color: #fff;
			}
		}

		&-arrowNext {
			margin-left: $base*3;
		}
	}
}