.start {
    padding: $base*20 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__ico {
        background: url('../icons/start_rectangle.png') center (center/cover) no-repeat; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: $base * 75;
        height: $base * 75;
        img {
            display: block;
            width: 90%;
        }
    }
    &__title {
        margin-top: $base * 18;
        color: $main-color;
    }
    &__btn {
        margin-top: $base * 7;
    }
}