.variants {
    height: $base * 140;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    &__title {
        position: absolute;
        top: $base * 20;
        left: 50%;
        transform: translateX(-50%);
    }
    &__left {
        background: url('../img/cloud.jpg') center (center/cover) no-repeat;
        background-color: rgba(#fff, 0.7);
        align-items: flex-end;
    }
    &__left, &__right {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-content {
            margin-right: $base * 21;
            width: 60%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &-title {
            font-size: $base * 7;
            line-height: $base * 6;
            font-weight: $fw-xbold;
            text-transform: uppercase;
            text-align: right;
            color: #ffffff;
            z-index: 2;
        }
        &-descr {
            margin-top: $base * 5;
            font-size: $base * 4;
            line-height: $base * 7;
            font-weight: $fw-light;
            text-align: right;
            color: #ffffff;
            z-index: 2;
        }
        &-box {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: $base * 42;
            height: $base * 42;
            background-color: rgba($btns-color, 0.3);
            z-index: 1;
            right: -$base*11;
            transition: all 0.5s;
            &:hover {
                width: 0;
            }
        }
    }
    &__right {
        background: url('../img/server.jpg') center (center/cover) no-repeat;
        &-content {
            margin-left: $base * 21;
            justify-content: flex-start;
        }
        &-title {
            text-align: left;
        }
        &-descr {
            text-align: left;
        }
        &-box {
            left: -$base*11;
        }
    }
}