.with {
    padding: $base*20 0;
    &__bads, &__ok {
        display: flex;
        justify-content: space-around;
        row-gap: $base * 8;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 $base*16 $base*9 $base*16;
            position: relative;
            width: $base * 90;
            min-height: $base * 64;
            border: 1px solid #ececec;
        }
        &-descr {
            font-size: $base * 4;
            line-height: $base * 7;
            font-weight: $fw-light;
            text-align: center;
            color: $main-color;
        }
        &-sign {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(30%, 30%);
            opacity: 0.05;
        }
    }
    &__arrows {
        margin-top: $base * 12;
        position: relative;
        img {
            width: 100%;
        }
        &-1 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &-2 {
            position: absolute;
            top: $base * 5;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        margin-top: $base * 39;
        font-size: $base * 12;
        text-align: center;
        line-height: $base * 7;
        font-weight: $fw-bold;
        color: $main-color;
    }
}
.with__ok {
    margin-top: $base * 8;
    &-descr {
    font-weight: $fw-bold;
    }
}